@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans Arabic', sans-serif;
  background-color: #f8fafc;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
